@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import "../node_modules/preline/variants.css";

html,body {
  font-family: 'Inter', sans-serif;
  background-color: #111828;
  color: #fefefe;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
